{{#if (eq @root.userID this.sender_id)}}
        {{!-- <div style="color: {{#if (eq this.sender_id senderID)}}green{{else}}blue{{/if}};"> --}}
        <div style="color: red;" class="message-screen">
            <p>{{this.body}}</p>
        </div>
{{else}}
<div style="color: blue;">
    <p>{{this.body}}</p>
{{/if}}