{{#if (eq @root.userID this.sender_id)}}
    <div style="color: red;" class="col-5 d-flex align-self-end message-screen">
        <p>Sender: {{this.body}}</p>
    </div>
{{else}}
<div style="color: blue;" class="col-5 d-flex align-self-start message-screen">
    <p>Recipient: {{this.body}}</p>
</div>
{{/if}}