<div class="row justify-content-center">
  <div class="card w-75 card-body home-card text-center">
    <p class="card-text">Eating alone can be a drag, log in or sign up to find a buddy to grab a bite with!</p>
    <div class="justify-space-between">
        <a href="/login" class="btn login-btn">Log in!</a>
        <a href="/signup" class="btn signup-btn">Sign up!</a>
    <div>
  </div>

</div>
