<div class="row w-100 align-items-center m-2">
    <div class="card w-75 card-body home-card text-center">
        <p class="card-text">Eating alone can be a drag, log in or sign up to find a buddy to grab a bite with!</p>
        <div class="justify-space-between">
            <a href="/login" class="btn">Log in!</a>
            <a href="/signup" class="btn">Sign up!</a>
        <div>
    </div>
</div>