<div class="container-fluid search">
    <div class="row w-100 d-flex flex-row justify-content-between align-items-start flex-wrap">
        {{#each user}}
            {{> search-details}}
        {{/each}}
    </div>
</div>