:root {
    --dark-pink: #F2ACCD;
    --light-pink: #F2CEDB;
    --purple: #A66F97;
    --teal: #70BBB1;
    --gold: #D9C179;
}

body {
    background-color: var(--teal);
}

.home-card {
    height: 300%;
    border: 4px solid var(--purple);
    border-radius: 30px;
    padding: 7%;
    background-color: var(--teal);
}

.home-card p {
    color: var(--dark-pink);
    font-size: 270%;
    margin: 3%;
}

.home-card a {
    background-color: var(--teal);
    border: 4px solid var(--gold);
    border-radius: 30px;
    margin: 2%;
    padding: 3%;
    justify-content: space-evenly;
    color: var(--gold);
    font-weight: bold;
}

.home-card a:hover{
    background-color: white;
    color: var(--purple);
}

.login-form {
    border: 4px solid var(--purple);
    border-radius: 30px;
    padding: 3%;
    font-size: 150%;
}

.login-form input {
    border: 2px solid var(--dark-pink);
    margin: 1%;
}

.login-form button{
    border: 4px solid var(--gold);
    border-radius: 30px;
    margin-top: 5%;
    padding: 2% 3%;
    font-weight: bold;
    color: var(--gold);
    font-size: 80%;
}

.login-form button:hover,
.signup-form button:hover{
    background-color: white;
    color: var(--purple);
}

.signup,
.dashboard {
    border: 4px solid var(--light-pink);
    border-radius: 20px;
}

.user-picture,
.dashboard-photo {
    border: 3px solid var(--purple);
    border-radius: 360px;
    margin: 3%;
    min-height: 32vh;
}

.signup .form-group {
    margin-top: 0;
    margin-bottom: 2%;
    padding: 1%;
}

.signup input {
    border: 3px solid var(--dark-pink);
    min-height: 5vh;
}

.signup textarea{
    border: 3px solid var(--dark-pink);
    padding: 2%;
}

.signup-form button{
    border: 4px solid var(--gold);
    border-radius: 30px;
    padding: 2% 3%;
    font-weight: bold;
    background-color: var(--light-pink);
    font-size: 150%;
    width: 100%;
    margin-bottom: 1%;
}

#back-btn,
#edit-btn {
    font-weight: 800;
    color: white;
    font-size: 150%;
    margin: 0;
    padding: 0;
}

.search {
    border: 4px solid var(--purple);
    border-radius: 30px;
}

.search-profile-name {
    font-size: 24px;
    font-weight: 800;
}

.search-picture {
    border: 3px solid var(--purple);
    border-radius: 360px;
    margin: 3%;
    min-height: 10em;
}

.search-profile-card {
    
}

.profile-bio {
    border: 3px solid var(--purple);
    border-radius: 20px;
    padding: 1%;
    min-height: 15vh;
}

.profile-availability,
.dash-messages {
    border: 3px solid var(--gold);
    border-radius: 20px;
    padding: 2%;
    margin: 1%;
    min-height: 15vh;
}

.dash-messages {
    margin-top: 0;
    margin-bottom: 6%;
}
